body {
  margin: 0;
  padding: 0;
  color : #2d2d2d;
  font-family: sans-serif;
}

.menu{
  margin-top:-20px;
}

.AppViewer{
  margin-top: 20px;
}

.spacing{
  margin-top: 20px;
  margin-bottom: 10px;
}

.spacing{
  margin-top: 20px;
}

.spacing-bottomtop{
  margin-top: 20px;
  margin-bottom: 50px;
}

.text-bold{
  font-weight: bold;
}

.spacing-right{
  margin-right: 10px;
  display: inline;
}

.category-title{
  font-family:'Open Sans', sans-serif;
  color: #209EEA;
}

.blue {
  color: #209EEA !important;
}

.logo{
  font-weight: 35px;
  height: 35px;
}

.small-icon{
  width:40px;
  margin-left : 20px;
}

.blue-button{
  background-color: #209EEA;
  border-radius: 0 !important;
  color: #ffffff !important;
}

.blue-button:hover{
  color: #ffffff;
  background-color: #1b8cd1;
}

.grey-button{
  background-color: #e5e5e5;
  border-radius: 0;
  color: #303030;
}

.grey-button:hover{
  color: #303030;
  background-color:#d6d6d6;
}