body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.menu{
  margin-top:-20px;
}

.AppViewer{
  margin-top: 20px;
}

.spacing{
  margin-top: 20px;
  margin-bottom: 10px;
}

.spacing{
  margin-top: 20px;
}

.spacing-bottomtop{
  margin-top: 20px;
  margin-bottom: 50px;
}

.text-bold{
  font-weight: bold;
}

.spacing-right{
  margin-right: 10px;
  display: inline;
}

.category-title{
  font-family:'Open Sans', sans-serif;
  color: #209EEA;
}

.blue a{
  color: #209EEA !important;
}

.logo{
  font-weight: 35px;
  height: 35px;
}

.small-icon{
  width:40px;
  margin-left : 20px;
}